In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Touros,BR,4/21/2022 19:56,-5.1989,-35.4608,81.72,76,68,11.81
1,1,San Ignacio,BZ,4/21/2022 19:56,17.1561,-89.0714,93.34,43,40,6.91
2,2,Punta Arenas,CL,4/21/2022 19:52,-53.1500,-70.9167,46.51,61,75,20.71
3,3,Fortuna,US,4/21/2022 19:56,40.5982,-124.1573,60.10,66,40,16.11
4,4,Vaini,TO,4/21/2022 19:56,-21.2000,-175.2000,69.96,100,20,2.30

In [3]:
city_data_df["Date"]=pd.to_datetime(city_data_df["Date"])
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Touros,BR,2022-04-21 19:56:00,-5.1989,-35.4608,81.72,76,68,11.81
1,1,San Ignacio,BZ,2022-04-21 19:56:00,17.1561,-89.0714,93.34,43,40,6.91
2,2,Punta Arenas,CL,2022-04-21 19:52:00,-53.1500,-70.9167,46.51,61,75,20.71
3,3,Fortuna,US,2022-04-21 19:56:00,40.5982,-124.1573,60.10,66,40,16.11
4,4,Vaini,TO,2022-04-21 19:56:00,-21.2000,-175.2000,69.96,100,20,2.30

In [4]:
# Get the data types
city_data_df.dtypes

City_ID                int64
City                  object
Country               object
Date          datetime64[ns]
Lat                  float64
Lng                  float64
Max Temp             float64
Humidity               int64
Cloudiness             int64
Wind Speed           float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
print(fig)

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent "Wind Speed"
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Touros,BR,2022-04-21 19:56:00,-5.1989,-35.4608,81.72,76,68,11.81
18,18,Maues,BR,2022-04-21 19:53:00,-3.3836,-57.7186,80.08,89,86,3.20
19,19,Hilo,US,2022-04-21 19:56:00,19.7297,-155.0900,89.28,83,79,5.01
20,20,Hithadhoo,MV,2022-04-21 19:56:00,-0.6000,73.0833,83.84,71,11,9.10
21,21,Avarua,CK,2022-04-21 19:56:00,-21.2078,-159.7750,77.05,61,40,12.66
27,27,Butaritari,KI,2022-04-21 19:56:00,3.0707,172.7902,80.49,81,100,12.37
28,28,Bosaso,SO,2022-04-21 19:55:00,11.2842,49.1816,81.55,70,11,1.79
29,29,Souillac,MU,2022-04-21 19:56:00,-20.5167,57.5167,79.18,83,75,6.91
31,31,Osmena,PH,2022-04-21 19:56:00,10.5208,119.9258,82.63,81,100,15.55
33,33,Jamame,SO,2022-04-21 19:56:00,0.0722,42.7506,81.30,70,100,8.34

In [12]:
preferred_cities_df.count()

City_ID       183
City          183
Country       183
Date          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0       Touros      BR     81.72  -5.1989  -35.4608
18       Maues      BR     80.08  -3.3836  -57.7186
19        Hilo      US     89.28  19.7297 -155.0900
20   Hithadhoo      MV     83.84  -0.6000   73.0833
21      Avarua      CK     77.05 -21.2078 -159.7750
27  Butaritari      KI     80.49   3.0707  172.7902
28      Bosaso      SO     81.55  11.2842   49.1816
29    Souillac      MU     79.18 -20.5167   57.5167
31      Osmena      PH     82.63  10.5208  119.9258
33      Jamame      SO     81.30   0.0722   42.7506

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Touros,BR,81.72,-5.1989,-35.4608,INN NEW HORIZON
18,Maues,BR,80.08,-3.3836,-57.7186,Hotel Miramar
19,Hilo,US,89.28,19.7297,-155.0900,Hilo Hawaiian Hotel
20,Hithadhoo,MV,83.84,-0.6000,73.0833,Scoop Guest House
21,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn
27,Butaritari,KI,80.49,3.0707,172.7902,Isles Sunset Lodge
28,Bosaso,SO,81.55,11.2842,49.1816,Red Sea Hotel
29,Souillac,MU,79.18,-20.5167,57.5167,Shanti Maurice Resort & Spa
31,Osmena,PH,82.63,10.5208,119.9258,Arjemarkyza Lodge
33,Jamame,SO,81.30,0.0722,42.7506,

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
# locations = list(locations.itertuples(index=False, name=None))
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))